body {
    margin: 0;
    font-family: 'Inter',sans-serif;
    background: #f9fafc;
    color: #111;
}

header {
    position: sticky;
    top: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
    z-index: 10;
}

    header h1 {
        font-size: 20px;
        cursor: pointer;
        font-weight: 700;
    }

    header button {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

main {
    padding: 20px;
    max-width: 650px;
    margin: auto;
}

h2 {
    margin-bottom: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.05);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 12px;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
    background: #f3f4f6;
    font-size: 14px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 14px;
    background: #111;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

    button:active {
        transform: scale(0.95);
    }

#addBtn.success,
#applyBtn.success {
    background: #e10600;
}

.task-card {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 18px;
    margin-bottom: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

    .task-card.completed {
        opacity: 0.5;
        text-decoration: line-through;
    }

.delete-btn {
    position: absolute;
    top: 10px;
    right: 12px;
    background: none;
    border: none;
    color: #e10600;
    font-size: 14px;
    cursor: pointer;
}

.badge {
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    width: fit-content;
}

.priority-alta {
    background: #e10600;
}

.priority-media {
    background: #ff7a00;
}

.priority-baja {
    background: #16a34a;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 8px;
}

.day {
    background: white;
    padding: 10px;
    border-radius: 12px;
    min-height: 80px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.05);
    cursor: pointer;
    font-size: 12px;
}

    .day:hover {
        background: #ffe5e5;
    }

    .day strong {
        display: block;
        margin-bottom: 5px;
    }

.calendar-task {
    background: #fff1f1;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 13px;
}

@media(max-width:500px) {
    main {
        padding: 15px;
    }
}
